@import './Application.css';

.infoPanel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
}

.okGuesses {
  color: green;
}

.warningGuesses {
  color: #dbcd00;
}

.dangerGuesses {
  color: red;
}

.gameLostPanel {
  color: red;
}

.gameWonPanel {
  letter-spacing: 0.15rem;
  color: #000;
  text-shadow: -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3,
    -20px 20px #26c6da,
    -24px 24px #43a047,
    -28px 28px #eeff41,
    -32px 32px #f9a825,
    -36px 36px #ff5722;
}
