.btn {
 width: 100%;
 border: 3px solid black;
 background: none;
 aspect-ratio: 1 / 1;
 font-size: 2.5rem;
 text-transform: uppercase;
 padding: .5rem;
 font-weight: bold;
 cursor: pointer;
 color: black;
}

.active {
  background-color: var(--color-blue);
  color: white;
}

.inactive {
  opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: var(--color-blue);
}
